*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.case{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

nav{
  width: 100%;
  height: 100px;
  background-color:  #131E3A;
}

.n-main{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.n-left{
    display: flex;
    gap: 30px;
   a{
    text-decoration: none;
    color: #FFFFFDB8;

   }
}
.n-right{
    button{
        width: 143px;
        height: 48px;
        border-radius: 8px;
        color: #fffffd;
        background-color: #d6ef0e;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        border: none;
       }
}

header{
    width: 100%;
    height: max-content;
    padding: 40px 0;
    background-color: #131E3A;
}

.h-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.h-left{
    margin-top: 118px;
    h1{
        font-family: "Lora", serif;
        color: #fffffd;
        font-weight: 500;
        font-size: 60px;

        span{
            color: #d6ef0e;
            display: inline-block;
            font-family: "Lora", serif;
        }
    }
    p{
        color: #fffffd;
        font-weight: 400;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    button{
        width: 143px;
        height: 48px;
        border-radius: 8px;
        color: #fffffd;
        background-color: #d6ef0e;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        border: none;
       }
       b{
        font-weight: 700;
        font-size: 16px;
        color: #fffffd;
        
       }

}

main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #131E3A;
    .txt{
        display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    height: max-content;
    padding-bottom: 64px;
        h1{
            color: #fffffd;
            font-family: "Lora", serif;
            font-weight: 500;
                font-size: 48px;
            span{
                color: #d6ef0e;
                font-family: "Lora", serif;
                display: inline-block;
                
            }
        }
        button{
            width: 143px;
            height: 48px;
            border-radius: 8px;
            color: #fffffd;
            background-color: #d6ef0e;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            border: none;
        }
    }
}

span{
    display: inline-block !important;
}
.m-card{
display: grid;
grid-template-columns: repeat(3,1fr);
    border-radius: 16px;
    gap: 30px;

    .card {
        width: 410px;
        height: 550px;
        border-radius: 28px;
        gap: 26px;
        background-color:  #070f25;
         padding: 40px 20px;
         margin-bottom: 40px;
         
         
        h3{
            font-weight: 700;
            font-size: 24px;
            color: #fffffd;
            display: flex;
            justify-content: space-between;
        }
        p{
            color: #838382;
        }
        button{
            border-color:#d6ef0e ;
            background-color: transparent;
            color: #d6ef0e;
            width: 168px;
            height: 48px;
            border-radius: 8px;
           

        }
        b{
            color: #fffffd;
            
        }
    }
}

.section-first{
    width: 100%;
    height: 100px;
    height: max-content;
    background-color: #131E3A;;
}
.sf-main{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #fffffd;
        font-weight: 500;
        font-size: 48px;
         font-family: "Lora", serif;

        span{
            color: #d6ef0e;
            font-family: "Lora", serif;
        }
    }
    p{
        font-weight: 400;
        font-size: 16px;
        color: #fffffd;
    }
    button{
        background-color: #d6ef0e;
        color: #fffffd;
        width: 168px;
        height: 48px;
        border-radius: 8px;
    }
    b{
        font-weight: 700;
        font-size: 16px;
        color:#fffffd ;
    }
    img{
        display: flex;
        align-items: center;
    }
}
.section-second{
    background-color: #131E3A;
}
.ss-main{
    padding-bottom: 100px;
    
}

.ss-txt{
    display: flex;
    justify-content: space-between;
    padding-top:100px;
    padding-bottom: 100px;
   h1{
    font-family: "Lora", serif;
    color: #fffffd;
    font-weight: 500;
    font-size: 48px;
    span{
        color: #d6ef0e;
        font-family: "Lora", serif;
    }
   }
   button{
    background-color: #d6ef0e;
    color: #fffffd;
    width: 168px;
    height: 48px;
    border-radius: 8px;
   }
}
.ss-rasm{
    align-items: center;
    border-radius: 16px;
}

.section-third{
      background-color: #131E3A;
    h1{
        font-weight: 500;
        font-size: 48px;
        font-family: "Lora", serif;
        color:#fffffd ;
        span{
            color: #d6ef0e;
            font-family: "Lora", serif;
        }
    }
}

.st-main{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
}

input{
    background-color: #131e3a;
    width: 516px;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding-left: 10px ;
    font-size: 18px;
    color: #fff;
}
span{
    display: flex;
}

button{
    height: 60px;
   
    background-color: #d6ef0e;
    font-size: 22px;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 125px;
}
footer{
    padding-top: 100px;
    width: 100%;
    height: max-content;
    background-color: #131E3A;
}
.f-main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    b{
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
    p{
        color: gainsboro;
        font-weight: 600;
        font-size: 16px;
    }
    span{
        display: flex;
    }
  }
  .pro{
    color: #fff;
    
    margin-left: 200px;
  }

  .f-txt{
   display: flex;
   text-align: center;
   justify-content: space-between;
    color: gainsboro;
  }

  @media (max-width:1216px) {
    .f-main{
        grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (max-width:1040px) {
    .f-main{
        grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width:987px) {
    .f-main{
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width:850px) {
    .f-main{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width:750px) {
    .f-main{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  